{% extends 'base_hello.html' %}
{% load pagination_tags %}
{% block title %}
To Do List
{% endblock %}
{% block content %}
<div class="container-fluid text-center">
   <div class="row">
      <div class="col order-last">
         <h1>To-Do List</h1>
         <table class="table table-bordered table-striped table-dark" style="table-layout: auto; margin-bottom: 0px;">
            <tr>
               <form method="GET" action="{% url 'event_view' eventList %}" class="search-form">
                  <div class="d-flex">
                     <td>
                        <div class="p-2 flex-grow-1">
                           <input type="text" name="search" value="{{ search_query }}" placeholder="Search Tasks..." class="search-form">
                        </div>
                     </td>
                     <td>
                        <div class="p-2">
                           <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                     </td>
                  </div>
               </form>
            </tr>
         </table>
         <table class="table table-bordered table-striped table-dark" style="table-layout: auto;">
            {% for event in pagedEvents %}
            <tr>
               {% if event.EventDone == 1 %}
               <td style="word-wrap: break-word; overflow-wrap: break-word; white-space: normal; word-break: break-word;">
                  <s>{{ event.EventTitle }}</s>
               </td>
               {% else %}
               <td style="word-wrap: break-word; overflow-wrap: break-word; white-space: normal; word-break: break-word; width: 150px;">
                  {{ event.EventTitle }}
               </td>
               {% endif %}
               <td>
                  <div class="float-end">
                     <p class="d-inline-flex gap-1">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#{{ event.id }}" aria-expanded="false" aria-controls="{{ event.id }}">
                        Description
                        </button>
                     </p>
                     <p class="d-inline-flex gap-1">
                        <a class="btn btn-info" href="{% url 'edit_event' event.id %}">
                        Edit
                        </a>
                     </p>
                     <p class="d-inline-flex gap-1">
                        <a class="btn btn-warning" href="{% url 'delete_event' event.id %}">
                        Delete
                        </a>
                     </p>
                  </div>
                  <div class="collapse" id="{{ event.id }}">
                     <div class="card card-body" style="word-wrap: break-word; overflow-wrap: break-word; white-space: normal; word-break: break-word;">
                        {{ event.EventDescription }}
                     </div>
                  </div>
               </td>
            </tr>
            {% endfor %}
         </table>
         <div class="pagination">
            {% if pagedEvents.has_previous %}
            <a class="btn btn-primary" href="?{% url_replace request 'page' 1 %}">&laquo; First</a>
            <a class="btn btn-primary" href="?{% url_replace request 'page' pagedEvents.previous_page_number %}">Previous</a>
            {% endif %}
            {% if pagedEvents.has_next %}
            <a class="btn btn-primary" href="?{% url_replace request 'page' pagedEvents.next_page_number %}">Next</a>
            <a class="btn btn-primary" href="?{% url_replace request 'page' pagedEvents.paginator.num_pages %}">Last &raquo;</a>
            {% endif %}
         </div>
      </div>
      <div class="col order-first">
         <h1>New Task</h1>
         <form class="form-horizontal" method="POST">
            {% csrf_token %}
            <table class="table table-bordered table-striped table-dark">
               {% for field in form %}
               <tr>
                  <td>{{ field.label_tag }}</td>
                  <td>{{ field }}</td>
               </tr>
               {% endfor %}
            </table>
            <button type="submit" class="btn btn-success">Save</button>
         </form>
      </div>
   </div>
</div>
{% endblock %}
