{% extends 'base_hello.html' %}


{% block title %}
    Edit List
{% endblock %}

{% block content %}
<html lang="en">
   <body>
        <div class="container-fluid text-center">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <h1>Edit Task</h1>
                    <form class="form-horizontal" method="POST">
                    {% csrf_token %} 
                    <table class="table table-bordered table-striped table-dark">
                        {% for field in form %}
                        <tr>
                        <td>
                            {{field.label_tag}}
                        </td>
                        <td>
                            {{field}}
                        </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <button type="submit">Update</button>
                    </form>
                </div>
                <div class="col"></div>
            </div>
        </div>
   </body>
</html>
{% endblock %}